.App {
  text-align: center;
}
.table-header{
  margin-top:"20px";
  margin-bottom:"20px";
  display:"flex";
  flex-direction:"row";
  justify-content: "center";
  align-items: "center"
}
.app-container{
  padding:20px;
}
.header-container{
  display: flex;
  flex-direction: row;
  padding:20px;
  background-color: #D3D3D3;
  color: black;
  margin-bottom: 40px;
}
.link-header{
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}
.link-item{
  text-decoration: none;
  color: black;
}
.td{
  border: 1px solid black;
}